
<div id='header_img'>
	<img  id="background_header" src="<%=@user.header_image%>">
</div>

<div >
	<img  id="avatar" src="<%=@user.avatar%>">
</div>

<div id="user_prof">
	<p class="user_attr">@<%=@user.user_name%></p>
	<p class="user_attr">about: <%=@user.bio%></p>
</div>
<div >
	<%@user.posts.each do |post|%>
		<a href='/posts/<%=post.id%>/comments'><img id="posts" src='<%=post.image%>'></a>
		<%=post.content%>

	<% end%>
</div>