<div id="user_prof">
	<p class="user_attr">user: <%=@user.user_name%></p>
	<p class="user_attr">about: <%=@user.bio%></p>
	<p class="user_footer"><a href=>submissions</a></p>
</div>

<div id='header_img'>
	<img  id="background_header" src="<%=@user.header_image%>">
</div>

<div id="avatar">
	
</div>

<div>
	<%@user.posts.each do |post|%>
		<%=post.image%>
		<%=post.content%>
	<% end%>
</div>